{% extends 'attendance/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-warning">
            Edit Student
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Name</label>
                    <input type="text"
                           name="student_name"
                           value="{{ student.student_name }}"
                           class="form-control">
                </div>

                <div class="mb-3">
                    <label>Roll Number</label>
                    <input type="text"
                           name="roll_number"
                           value="{{ student.roll_number }}"
                           class="form-control">
                </div>

                <div class="mb-3">
                    <label>Course</label>
                    <input type="text"
                           name="department"
                           value="{{ student.department }}"
                           class="form-control">
                </div>

                <button type="submit" class="btn btn-success">
                    Save Changes
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
